/* IMPORT NORSE FONT */
@font-face {
  font-family: 'Norse';
  src: url('./fonts/Norse-Bold.woff2') format('woff2'),
    url('./fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --title-bg-color: #0005;
  --text-color-white: #fff;

  --overcast-bg-color: hsl(240, 20%, 95%);
  --registration-bg-color: #fff;

  --leaf-tone: #596D48;
}

.wrapper {
  display: flex;
  height: 100vh;

  font-size: 1.25rem;
}

.left {
  background-image: url("./assets/photo-1585202900225-6d3ac20a6962.avif");

  flex: calc(40vw);
  min-width: 370px;
  max-width: 655px;

  color: var(--text-color-white);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  background-color: var(--title-bg-color);
  font-family: 'Norse', system-ui;
  font-size: 7rem;

  height: 180px;

  padding-top: 0.5rem;
  margin-top: 100px;
}

.title > span {
  vertical-align: 2rem;
}

.title > .logo {
  display: inline-block;
  height: 150px;
}

.left a {
  color: var(--text-color-white);
}

.subtitle {
  margin-bottom: 1rem;
}

.right {
  flex: 60vw;

  display: flex;
  flex-direction: column;

  min-width: 700px;
}

.right > div {
  padding: 2em;
}

.motivation {
  background-color: var(--overcast-bg-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;

  flex: 1;

  z-index: 10;
}

.registration {
  background-color: var(--registration-bg-color);
  box-shadow: 0 4px 5px #0004;
  z-index: 20;
}

.flex-form > form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.flex-form > form > p {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

form > p > label {
  font-size: 0.8rem;
  font-weight: bold;
}

form > p > input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

form > p > input:focus {
  box-shadow: 4px 4px 4px #0002;
}

.create-account {
  background-color: var(--overcast-bg-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 1;

  z-index: 10;
}

.right input[type="submit"] {
  background-color: var(--leaf-tone);
  color: var(--text-color-white);
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #0002;
  padding: 0.6rem;

  width: 240px;
}

.right input[type="submit"]:hover,
.right input[type="submit"]:focus {
  cursor: pointer;
  background-color: hsl(92, 20%, 15%)
}

.right input[type="submit"]:active {
  cursor: pointer;
  background-color: hsl(192, 20%, 35%)
}

.right a {
  color: var(--leaf-tone);
}